.partner-header {
  display: flex;
  align-items: center;
  height: 70px;
  background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
  @media (min-width: 768px) and (max-width: 1119px) {
    height: 56px;
  }
  &__title {
    font-family: 'Regular';
    font-size: 16px;
    padding-left: 16px;
    margin: 0;
    color: #7e7e82;
    text-transform: uppercase;
    @media (min-width: 768px) and (max-width: 1119px) {
      padding-left: 24px;
    }

    @media (min-width: 1120px) {
      padding: 32px;
    }
  }
}

.swiper-container {
  margin-left: 16px;
  margin-top: 24px;
  height: 124px;
  @media (min-width: 768px) and (max-width: 1119px) {
    height: 160px;
    margin-left: 0px;
  }
  @media (min-width: 1120px) {
    justify-content: center;
    height: 160px;
    margin-left: 0px;
  }
  &_active {
    height: auto;
    @media (min-width: 1120px) {
      height: auto;
    }
  }
}

.swiper-wrapper {
  @media (min-width: 768px) and (max-width: 1119px) {
    display: grid;
    column-gap: 24px;
    padding: 0px;
    // margin-top: 24px;
    row-gap: 16px;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 1120px) {
    display: grid;
    column-gap: 32px;
    padding: 0px;
    // margin: 24px 32px 0px 0px;
    row-gap: 16px;
    overflow: hidden;
    grid-template-columns: repeat(4, 240px);
  }
}

.swiper-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  background-color: white;
  border: 1px solid #eaeaea;
  /* margin-top: 16px; */
  border-radius: 6px;
  margin-bottom: 16px;
  width: 240px;

  @media (min-width: 768px) and (max-width: 1119px) {
    margin-top: 0px;
    width: 224px;
    margin-bottom: 0px;
    border: none;
  }
  @media (min-width: 1120px) {
    margin-top: 0px;
    width: 240px;
    margin-bottom: 0px;
    border: none;
  }

  &__button {
    // display: flex;
    // align-items: flex-end;
    position: relative;
    border: 2px solid #ff3e79;
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }
  &__button:hover {
    background-image: -webkit-linear-gradient(
      0,
      #000 0%,
      rgba(255, 0, 77, 0.13) 0%
    );
    background-image: linear-gradient(0, #000 0%, rgba(255, 0, 77, 0.13) 0%);
    background-image: -moz-linear-gradient(
      0,
      #000 0%,
      rgba(255, 0, 77, 0.13) 0%
    );
    background-image: -o-linear-gradient(0, #000 0%, rgba(255, 0, 77, 0.13) 0%);
    transform: scale(1.2);
    cursor: pointer;
  }
  &__button::before {
    content: '';
    top: 13px;
    left: 11px;
    position: absolute;
    border: solid #ff3e79;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &__image {
    margin-left: 16px;
  }
}
.swiper-slider {
  @media (min-width: 768px) {
    padding: 0px 24px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

.swiper-pagination {
  margin-bottom: 18px;

  &-bullet {
    width: 12px;
    height: 12px;

    &-active {
      background-color: #7e7e82;
    }
  }
}

.showBtn {
  display: none;
  @media (min-width: 768px) and (max-width: 1119px) {
    font-family: 'MediumFont';
    font-size: 16px;
    display: block;
    position: relative;
    /* margin-top: 24px; */
    border: 0;
    background-color: transparent;
    margin-left: 16px;
    margin-bottom: 34px;
    margin-top: 24px;
  }

  @media (min-width: 1120px) {
    font-family: 'MediumFont';
    font-size: 16px;
    display: block;
    position: relative;
    /* margin-top: 24px; */
    border: none;
    background-color: transparent;
    margin-left: 30px;
    margin-bottom: 34px;
    margin-top: 24px;
  }
  &::before {
    @media (min-width: 768px) and (max-width: 1119px) {
      position: absolute;
      content: '';
      left: -17px;
      top: 6px;
      width: 8px;
      height: 10px;

      background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3E%3C/svg%3E");
    }
    @media (min-width: 1120px) {
      position: absolute;
      content: '';
      left: -22px;
      top: 6px;
      width: 8px;
      height: 10px;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3E%3C/svg%3E");
    }
  }
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &-active::before {
    @media (min-width: 768px) and (max-width: 1119px) {
      content: '';
      transform: rotate(180deg);
    }
    @media (min-width: 1120px) {
      content: '';
      transform: rotate(180deg);
    }
  }

  &-margin {
    @media (min-width: 768px) and (max-width: 1119px) {
      margin-bottom: 14px;
      margin-top: 46px;
    }
    @media (min-width: 1120px) {
      margin-bottom: 14px;
      margin-top: 46px;
    }
  }
}

// @media (min-width: 768px) and (max-width: 1119px) {
// .partner-header {
//   height: 56px;
// }

// .partner-header__title {
//   padding: 24px;
// }

// .swiper-wrapper {
//   display: grid;
//   column-gap: 24px;
//   padding: 0px;
//   margin: 24px 24px 0px 24px !important;
//   row-gap: 16px;
//   overflow: hidden;
//   grid-template-columns: 1fr 1fr 1fr;
// }

// .swiper-container {
//   height: 160px;
// }
// .swiper-container_active {
//   height: auto;
// }

// .swiper-box {
//   margin-top: 0px;
//   width: 224px;
//   margin-bottom: 0px;
//   border: none;
// }

// .showBtn {
//   font-family: 'MediumFont';
//   font-size: 16px;
//   display: block;
//   position: relative;
//   /* margin-top: 24px; */
//   border: none;
//   background-color: #f8f8f8;
//   margin-left: 47px;
//   margin-bottom: 34px;
//   margin-top: 24px;
// }

// .showBtn::before {
//   position: absolute;
//   content: '';
//   left: -17px;
//   top: 6px;
//   width: 8px;
//   height: 10px;
//   background: url('/img/arrowIcon.svg');
// }

// .showBtn-active::before {
//   content: '';
//   transform: rotate(180deg);
// }
// .showBtn-margin {
//   margin-bottom: 14px;
//   margin-top: 46px;
// }
// }

// @media (min-width: 1120px) {
// .partner-header__title {
//   padding: 32px;
// }
// .swiper-wrapper {
//   display: grid;
//   column-gap: 32px;
//   padding: 0px;
//   margin: 24px 32px 0px 0px;
//   row-gap: 16px;
//   overflow: hidden;
//   grid-template-columns: repeat(4, 240px);
// }

// .swiper-container {
//   justify-content: center;
//   height: 160px;
// }
// .swiper-container_active {
//   height: auto;
// }
// .swiper-box {
//   margin-top: 0px;
//   width: 240px;
//   margin-bottom: 0px;
//   border: none;
// }

// .showBtn {
//   font-family: 'MediumFont';
//   font-size: 16px;
//   display: block;
//   position: relative;
//   /* margin-top: 24px; */
//   border: none;
//   background-color: #f8f8f8;
//   margin-left: 63px;
//   margin-bottom: 34px;
//   margin-top: 24px;
// }

// .showBtn::before {
//   position: absolute;
//   content: '';
//   left: -22px;
//   top: 6px;
//   width: 8px;
//   height: 10px;
//   background: url('/img/arrowIcon.svg');
// }

// .showBtn-active::before {
//   content: '';

//   transform: rotate(180deg);
// }

// .showBtn-margin {
//   margin-bottom: 14px;
//   margin-top: 46px;
// }
// }
