.callback-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(250, 250, 250, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transform: translateX(100%);
  transition-duration: 0.7s;
  opacity: 0;

  &_active {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 3;
    transition-duration: 0.7s;
    top: 0;
    right: 0;
    transform: translateX(0);
    opacity: 1;
  }

  &__button {
    border: none;
    background: #ff3e79;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 24px;
    margin: 24px 0px 40px 0;
    transition: all 0.2s ease;
    position: absolute;
    right: 365px;
    top: 5px;
    z-index: 3;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.79348 1.25712C2.40295 0.866593 1.76979 0.866592 1.37927 1.25712L1.25712 1.37927C0.866592 1.76979 0.866593 2.40296 1.25712 2.79348L7.46364 9L1.25712 15.2065C0.866593 15.597 0.866592 16.2302 1.25712 16.6207L1.37927 16.7429C1.76979 17.1334 2.40295 17.1334 2.79348 16.7429L9 10.5364L15.2065 16.7429C15.597 17.1334 16.2302 17.1334 16.6207 16.7429L16.7429 16.6207C17.1334 16.2302 17.1334 15.597 16.7429 15.2065L10.5364 9L16.7429 2.79348C17.1334 2.40296 17.1334 1.76979 16.7429 1.37927L16.6207 1.25712C16.2302 0.866592 15.597 0.866593 15.2065 1.25712L9 7.46364L2.79348 1.25712Z' fill='white'/%3E%3C/svg%3E");
  }

  &__title {
    position: relative;
    font-family: 'Bold';
    font-size: 24px;

    &::before {
      position: absolute;
      left: -16px;
      top: -4px;
      content: '';
      background-color: #41f6d7;
      height: 40px;
      width: 4px;
      border: 0px solid #41f6d7;
      border-radius: 0px 6px 6px 0px;
    }
  }
}

.callback-modal {
  background: white;
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  z-index: -3;
  right: 0;
  top: 0;
  transition-duration: 0.5s;
  transform: translateX(-100%);

  &_active {
    background: white;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    z-index: 3;
    right: 0;
    transition-duration: 0.7s;
    // overflow-y: scroll;
    transform: translateX(0);
  }
}
